<template>
  <div class="about">
    <h1>This is an Archive page</h1>
    <div class="archive-list__wrapper">
      <ul class="archive-list">
        <li class="archive-list__item" v-for="item of list" v-bind:key="item.id">
          <todoItem
            v-bind:todo="item"
            v-on:removeToDo="onItemDelete"
            v-on:restoreFromArchive="onItemRestore"
          >
          </todoItem>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import todoItem from '../components/todoItem.vue';

export default {
  name: 'Archive',
  components: {
    todoItem,
  },
  beforeMount() {
    fetch('http://localhost:4200/archive')
      .then(res => res.json())
      .then((data) => {
        this.list = data;
      });
  },
  data: () => ({
    list: [],
  }),
  methods: {
    onItemDelete(itemId) {
      fetch(`http://localhost:4200/archive/${itemId}/remove`, {
        method: 'DELETE',
        'Content-Type': 'application/json; charset=utf-8',
        body: JSON.stringify({ itemId }),
      }).then(res => res.json())
        .then((todos) => {
          this.list = todos;
        });
    },
    onItemRestore(itemId) {
      fetch(`http://localhost:4200/archive/${itemId}/restore`, {
        method: 'PUT',
        'Content-Type': 'application/json; charset=utf-8',
        body: JSON.stringify({ itemId }),
      }).then(res => res.json())
        .then((todos) => {
          this.list = todos;
        });
    },
  },
};
</script>
