<template>
  <div class="home">
    <div class="todo-item__form">
      <div class="todo-item__input-wrapper">
        <span>Enter Story name</span>
        <input type="text" class="todo-item__text todo-item__text--name" v-model="todoItemName">
      </div>
      <div class="todo-item__input-wrapper">
        <span>Enter Story Description</span>
        <textarea
          type="text"
          class="todo-item__text todo-item__text--description"
          v-model="todoItemDescription"
        >
        </textarea>
      </div>
      <button class="todo-item__create-btn" v-on:click="addItem">Add Todo item</button>
    </div>
    <todoList
      v-bind:list="list"
      v-bind:delete-item="deleteItem"
      v-bind:mark-as-done="markAsDone"
    ></todoList>
  </div>
</template>

<style scoped>
  .todo-item__input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
  }
  .todo-item__text--name {
    width: 240px;
  }
  .todo-item__text--description {
    width: 480px;
    height: 80px;
  }
</style>

<script>
import todoList from '../components/todoList.vue';

export default {
  name: 'home',
  components: {
    todoList,
  },
  beforeMount() {
    fetch('http://localhost:4200/todo')
      .then(res => res.json())
      .then((data) => {
        this.list = data;
      });
  },
  data: () => ({
    todoItemName: '',
    todoItemDescription: '',
    list: [],
  }),
  methods: {
    deleteItem(itemId) {
      fetch(`http://localhost:4200/todo/${itemId}/remove`, {
        method: 'DELETE',
        'Content-Type': 'application/json; charset=utf-8',
        body: JSON.stringify({ itemId }),
      }).then(res => res.json())
        .then((todos) => {
          this.list = todos;
        });
    },
    markAsDone(itemId) {
      fetch(`http://localhost:4200/todo/${itemId}/complete`, {
        method: 'PUT',
        'Content-Type': 'application/json; charset=utf-8',
        body: JSON.stringify({ itemId }),
      }).then(res => res.json())
        .then((todos) => {
          this.list = todos;
        });
    },
    addItem() {
      const data = {
        date: new Date(),
        name: this.todoItemDescription,
        description: this.todoItemName,
        isDone: false,
      };
      console.log(data);
      fetch('http://localhost:4200/todo/add', {
        method: 'POST',
        'Content-Type': 'application/json; charset=utf-8',
        body: JSON.stringify(data),
      }).then(res => res.json())
        .then((item) => {
          console.log(item);
          this.list.push(item);
        });
    },
  },
};
</script>
