<template class="todo-item__wrapper">
  <div class="todo-item">
    <div class="todo-item__name-wrapper">{{todo.name}}</div>
    <div class="todo-item__description-wrapper">{{todo.description}}</div>
    <div class="todo-item__date-wrapper">{{todo.date}}</div>
    <div class="todo-item__date-wrapper">{{todo.isDone ? 'Done' : 'Not Done'}}</div>
    <button
      class="todo-item__btn todo-item__btn--remove"
      v-on:click="onRemoveClick"
    >
      Remove item
    </button>
    <button
      class="todo-item__btn todo-item__btn--done"
      v-if="!todo.isDone"
      v-on:click="onDoneClick"
    >
      mark as done
    </button>
    <button
      class="todo-item__btn todo-item__btn--restore"
      v-if="todo.isDone"
      v-on:click="onRestoreClick"
    >
      restoreFromArchive
    </button>
  </div>
</template>
<script>
export default {
  name: 'todoItem',
  props: {
    todo: {
      id: Number,
      description: String,
      name: String,
      isDone: String,
      date: Date,
    },
  },
  methods: {
    onDoneClick() {
      this.$emit('markAsDone', this.todo.id);
    },
    onRestoreClick() {
      this.$emit('restoreFromArchive', this.todo.id);
    },
    onRemoveClick() {
      this.$emit('removeToDo', this.todo.id);
    },
  },
};
</script>
<style scoped>
  .todo-item__wrapper {
    display: flex;
    justify-content: center;
  }

  .todo-item__name-wrapper {
    max-width: 200px;
    overflow-wrap: break-word;
  }

  .todo-item__description-wrapper {
    max-width: 200px;
    overflow-wrap: break-word;
  }

  .todo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border: 1px solid gainsboro;
    max-width: 720px;
  }

  .todo-item__btn {
    height: auto;
    max-height: 60px;
  }

  .todo-item > * {
    margin: 0 10px;
  }
</style>
