<template>
  <div class="todo-list__container">
    <h3 class="todo-list__header">My ToDo List</h3>
    <div class="todo-list__content">
      <div class="todo-list__item-wrapper" v-for="item of list" v-bind:key="item.id">
        <todoItem
          v-bind:todo="item"
          v-on:removeToDo="onItemDelete"
          v-on:markAsDone="onItemDone"
        >
        </todoItem>
      </div>
    </div>
  </div>
</template>

<style scoped>
   .todo-list__header {
     padding: 10px 0;
   }
</style>

<script>
import todoItem from './todoItem.vue';

export default {
  name: 'todoList',
  components: {
    todoItem,
  },
  props: {
    list: Array,
    deleteItem: Function,
    markAsDone: Function,
  },
  methods: {
    onItemDelete(itemId) {
      this.deleteItem(itemId);
    },
    onItemDone(itemId) {
      this.markAsDone(itemId);
    },
  },
};
</script>
